<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{> global_css}} {{> global_js}}
    <title>서티커-리뷰 이벤트, 기념일, 수능, 크리스마스 스티커</title>
  </head>
  <body>
    {{> header}}
  </body>
</html>
